/*
Police        : font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

Titres (Vert) : #b5e853;
Liens projets (Bleu)  : #63c0f5;
Texte (Blanc) : #eaeaea;
*/



* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

h1 {
    color: #b5e853;
    font-size: 50px;
    font-weight: bold;
} /* Titre */

h2, h3 {
    color: #b5e853;
} /* Sous-titres */

p {
    font-size: 16px;
    font-weight: bold;
    color: #eaeaea;
} /* Texte */

a {
    color: #eaeaea;
    font-size: 16px;;
    font-weight: bold;
} /* Liens */

li {
    font-size: 16px;
    color: #eaeaea;
    list-style-image: url(../images/list-style.png);
    font-weight: bold;
} /* Listes */

hr {
    border: 0;
    border-bottom: 1px dashed #b5e853;
} /* Divider */

.coor {
    color:  #eaeaea;
} /* Couleurs coordonnées */



/***************************************************************************************************************/



body {
    display: flex;
}

header {
    background-color: #000;
    height: auto;
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
} /* Partie en haut */

.btn {
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
    border-radius: 50px;
    border: 2px solid rgba(50,50,50,50.7);
    border-bottom: 2px solid rgba(50,50,50,50.7);
    border-top: 2px solid rgba(50,50,50,50.7);
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    padding: 10px;
    margin-left: 20px;
} /* Boutons de droite */

.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8));
} /* Boutons de droite lorsque survolés */

.links {
    margin-top: 13px;
} /* Boutons */

.reseaux a:nth-child(n) {
    margin-right: 20px;
} /* Réseaux */

.reseaux a:nth-child(1) {
    color: #eaeaea;
    font-size: 40px;
} /* Linkedin */

.reseaux a:nth-child(2) {
    color: #eaeaea;
    font-size: 40px;
} /* GitHub */

.reseaux a:hover {
    opacity: 0.6;
} /* Réseaux lorsque survolés */

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
} /* Corps de la page */

.gridTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
} /* Tableau des compétances */

.gridTable thead th {
    margin-top: 10px;
    text-align: center;
    border: 4px solid #B5E853;
}

.gridTable td:nth-child(even) {
    text-align: center;
    border-left: 4px solid #B5E853;
}

.gridTable td, .gridTable th {
    padding: 10px 0px;
}

.logo {
    height: 55px;
} /* Logo des entreprises */



/***************************************************************************************************************/



#projetsAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projet {
    text-decoration: none;
    margin-top: 50px;
}

.titreImage {
    display: flex;
    justify-content: center;
    color: #B5E853;
}

.projetImage {
    border: 3px solid #B5E853;
    width: 300px;
}

.projetImage:hover {
    border: 3px solid #63c0f5;
}

.projetTexte {
    width: 300px;
    text-align: center;
    color: #eaeaea;
}