/*
Police        : font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

Titres (Vert) : #b5e853;
Liens (Bleu)  : #63c0f5;
Texte (Blanc) : #eaeaea;
*/



body {
    margin: 0;
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

h1 {
    color: #b5e853;
    font-size: 50px;
    font-weight: bold;
} /* Titre */

h2, h3 {
    color: #b5e853;
    margin: 0px;
} /* Sous-titres */

p {
    font-size: 16px;
    font-weight: bold;
    color: #eaeaea;
    margin: 0px;
} /* Texte */

a {
    padding: 12px;
    color: #63c0f5;
    font-size: 30px;;
    font-weight: bold;
    margin-top: 20px;
} /* Liens */

li {
    font-size: 16px;
    color: #eaeaea;
    list-style-image: url(../images/list-style.png);
    font-weight: bold;
} /* Listes */

hr {
    border: 0;
    border-bottom: 1px dashed #b5e853;
} /* Divider */

.coor {
    color:  #eaeaea;
} /* Couleurs coordonnées */



/***************************************************************************************************************/




#header {
    background-color: black;
    height: 100px;
    border-bottom: 1px dashed #b5e853;
    display: flex;
    justify-content: space-between;
} /* Partie en haut */

nav {
    padding-top: 30px;
} /* Navbar */

#links a:nth-child(n) {
    border-style: outset;
    border-radius: 30%;
    margin-left: 20px;
} /* Boutons de la navbar */

#links a:nth-child(n):hover, a:nth-child(n):active {
    color: red;
    border-style: outset;
    border-radius: 30%;
} /* Boutons de la navbar losqu'on passe la souris dessus */

#reseaux {
    margin-right: 50px;
} /* Réseaux */

#reseaux a:nth-child(n) {
    margin-right: 20px;
} /* lien des réseaux sociaux */

#reseaux a:nth-child(1) {
    color: gainsboro;
} /* Linkedin */

#reseaux a:nth-child(2) {
    color: rosybrown;
} /* GitHub */

#container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
} /* corps de la page */